node_modules/
screenshots/
.env
*.log
reports/*
reports/chrome/*.json
!reports/chrome
reports/chrome/assets/*
reports/chrome/features/*
reports/chrome/*.html
!reports/chrome/create-html-report-chrome.js
docker-chrome-conf.js
docker-firefox-conf.js
browserconfig.js
docker-phantomjs-conf.js
modules-config-check.js
nightwatch_chrome.conf.js
nightwatch_firefox.conf.js
sdet_test/screenshots/*
/sdet_test/*conf.js